{erl_opts, [
    {parse_transform, lager_transform},
    warn_export_all,
    warn_export_vars,
    warn_untyped_record,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, [
        {lager, ".*",
            {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
        {hamcrest, ".*",
            {git, "https://github.com/hyperthunk/hamcrest-erlang", {ref, "0766ea004f7dd900c36b06aff14dbbac1d03b425"}}},
        {cowboy, ".*",
            {git, "https://github.com/ninenines/cowboy.git", {tag, "2.12.0"}}},
        {jiffy, ".*",
            {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
        {gen_smtp, ".*",
            {git, "https://github.com/gen-smtp/gen_smtp.git", {branch, "master"}}},
        {meck, ".*",
            {git, "https://github.com/eproxus/meck.git", {tag, "0.9.2"}}},
        {mzbench_language, ".*",
            {rsync, "../common_apps/mzbench_language/"}},
        {mzbench_utils, ".*",
            {rsync, "../common_apps/mzbench_utils/"}},
        {erlcloud, ".*",
            {git, "https://github.com/erlcloud/erlcloud.git", {tag, "3.7.6"}}},
        {hdr_histogram, ".*",
            {git, "https://github.com/mzbench/hdr_histogram_erl.git", {tag, 'experimental-multithread-support3'}}}
        ]}.

{deps_dir, "deps"}.

{lib_dirs, ["deps"]}.

{eunit_opts, [verbose]}.

{minimum_otp_vsn, "17.0"}.

{plugins, [
    {rebar_rsync_deps, ".*", {git, "https://github.com/ioolkos/rebar3_rsync_resource", {ref, "2bdf3e916e66c35f2b5f9b313f9012f277de0539"}}}
    ]}.

{overrides, [{override, hamcrest, [{plugins, []}]}]}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        unmatched_returns
        ]},
    {plt_extra_apps, [cowboy, cowlib]}
    ]}.

{relx, [
    {release, {mzbench_api, "0.5.8"},
        [mzbench_api]},
    {vm_args, "rel/files/vm.args"},
    {sys_config, "rel/files/sys.config"},
    {include_erts, true},
    {extended_start_script, true}
    ]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "sed \"s/{{vsn}}/`cat $REBAR_DEPS_DIR/mzbench_api/priv/version`/g\" \"$REBAR_DEPS_DIR/mzbench_api/priv/http_root/index.html.template\" > \"$REBAR_DEPS_DIR/mzbench_api/priv/http_root/index.html\""}]}.
