{erl_opts, [
    {parse_transform, lager_transform},
    warn_export_all,
    warn_export_vars,
    warn_untyped_record,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, [
        {lager,
            {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}},
        {hamcrest,
            {git, "https://github.com/hyperthunk/hamcrest-erlang", {ref, "0766ea004f7dd900c36b06aff14dbbac1d03b425"}}},
        {cowboy,
            {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
        {jiffy,
            {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
        {gen_smtp,
          {git, "https://github.com/Vagabond/gen_smtp.git", {tag, "1.2.0"}}},
        {meck,
            {git, "https://github.com/eproxus/meck.git", {tag, "0.9.2"}}},
        {mzbench_utils, {path, "../common_apps/mzbench_utils/"}},
        {mzbench_language, {path, "../common_apps/mzbench_language/"}},
      
        {erlcloud,
            {git, "https://github.com/erlcloud/erlcloud.git", {tag, "3.5.14"}}},
        {hdr_histogram,
            {git, "https://github.com/HdrHistogram/hdr_histogram_erl.git", {tag, "0.5.0"}}}
        ]}.

{plugins, [
    {rebar3_path_deps, ".*", {git, "https://github.com/benoitc/rebar3_path_deps", {ref, "b68c8550bde5fc00e6b2849184b08e70bc015cb6"}}}
    ]}.
    

{deps_dir, "deps"}.

{lib_dirs, ["deps"]}.

{eunit_opts, [verbose]}.

{minimum_otp_vsn, "17.0"}.



{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        unmatched_returns
        ]},
    {plt_extra_apps, [cowboy, cowlib]}
    ]}.

{relx, [
    {release, {mzbench_api, "0.6.0"}, [
      mzbench_api,
      %% Rebar3 deps
      tools % xref
    ]},
    {vm_args, "rel/files/vm.args"},
    {sys_config, "rel/files/sys.config"},
    % {include_erts, true},
    {include_erts, false}, %% let's use OS erlang installation
    {extended_start_script, true}
    ]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "sed \"s/{{vsn}}/`cat $REBAR_DEPS_DIR/mzbench_api/priv/version`/g\" \"$REBAR_DEPS_DIR/mzbench_api/priv/http_root/index.html.template\" > \"$REBAR_DEPS_DIR/mzbench_api/priv/http_root/index.html\""}]}.
