{erl_opts, [
    {parse_transform, lager_transform},
    {lager_extra_sinks, [system_log]},
    nowarn_deprecated_function, % because we can't drop erlang:now without dropping Erlang 17
    warn_export_all,
    warn_export_vars,
    % warn_untyped_record, % disabled because we include luerl.hrl
    warn_unused_import,
    warnings_as_errors
]}.

{sub_dirs, ["apps/*", "rel", "deps"]}.

{deps, [
        {netlink, ".*",
            {git, "https://github.com/synlay/netlink", {ref, "f7fa1cebf244173dc5b0b4cbcefd3d33a6ea8078"}}},
        {hamcrest, ".*",
            {git, "https://github.com/hyperthunk/hamcrest-erlang", {ref, "a8578932014c86fe395982fa3151d48897b9c37f"}}},
        {lager, ".*",
            {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
        {ranch, ".*",
            {git, "https://github.com/ninenines/ranch.git", {tag, "1.8.0"}}},
        {jiffy, ".*",
            {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
        {luerl, ".*",
            {git , "https://github.com/rvirding/luerl.git", {ref, "8ef173e03d1b1e35883651164d34afb9ecf1acba"}}},
        {mzbench_language, ".*", {rsync, "../common_apps/mzbench_language/"}},
        {mzbench_utils, ".*", {rsync, "../common_apps/mzbench_utils/"}},
        {hdr_histogram, ".*",
            {git, "https://github.com/mzbench/hdr_histogram_erl.git", {branch, "experimental-multithread-support3"}}}]}.

{deps_dir, "deps"}.
{lib_dirs, ["deps", "apps"]}.
{eunit_opts, [verbose]}.
{recursive_cmds, [eunit, xref, clean]}.

{plugins, [
    {rebar_rsync_deps, ".*", {git, "https://github.com/ioolkos/rebar3_rsync_resource", {ref, "2bdf3e916e66c35f2b5f9b313f9012f277de0539"}}}
    ]}.

{minimum_otp_vsn, "17.0"}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        no_superspecs,
        unmatched_returns
        ]}
    ]}.

{relx, [
    {release, {mzbench, "0.5.8"},
        [mzbench, dummy_worker, mz_histogram, mz_counter,
        crypto, public_key, asn1, ssl, inets]},
    {vm_args, "rel/files/vm.args"},
    {sys_config, "rel/files/sys.config"},
    {include_erts, true},
    {generate_start_script, false},
    {overlay, [
            {copy, "rel/files/mzbench", "bin/mzbench"},
            {copy, "rel/files/mzbench.cmd", "bin/mzbench.cmd"},
            {copy, "rel/files/erl", "bin/erl"},
            {copy, "rel/files/install_upgrade.escript", "bin/install_upgrade.escript"},
            {copy, "rel/files/nodetool", "bin/nodetool"},
            {copy, "scripts/wait_cluster_start.escript", "bin/wait_cluster_start.escript"},
            {copy, "scripts/run_local.escript", "bin/run_local.escript"}
        ]}
    ]}.
