{erl_opts, [
    {parse_transform, lager_transform},
    {lager_extra_sinks, [system_log]},
    nowarn_deprecated_function, % because we can't drop erlang:now without dropping Erlang 17
    warn_export_all,
    warn_export_vars,
    % warn_untyped_record, % disabled because we include luerl.hrl
    warn_unused_import,
    warnings_as_errors
]}.

{sub_dirs, ["apps/*", "rel", "deps"]}.

{deps, [
        {netlink,
            {git, "https://github.com/ioolkos/netlink.git", {ref, "b7314012760518dc29416354c199990e154e0361"}}},
        {hamcrest,
            {git, "https://github.com/hyperthunk/hamcrest-erlang", {ref, "0766ea004f7dd900c36b06aff14dbbac1d03b425"}}},
        {lager,
            {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}},
        {ranch,
            {git, "https://github.com/ninenines/ranch.git", {tag, "2.1.0"}}},
        {jiffy,
          {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
        {luerl,
            {git , "https://github.com/rvirding/luerl.git", {ref, "bc655178dc8f59f29199fd7df77a7c314c0f2e02"}}},
        {mzbench_language, ".*", {path, "../common_apps/mzbench_language/"}},
        {mzbench_utils, ".*", {path, "../common_apps/mzbench_utils/"}},
        {hdr_histogram,
          {git, "https://github.com/HdrHistogram/hdr_histogram_erl.git", {tag, "0.5.0"}}}
]}.

{plugins, [
    {rebar3_path_deps, ".*", {git, "https://github.com/benoitc/rebar3_path_deps", {ref, "b68c8550bde5fc00e6b2849184b08e70bc015cb6"}}}
    ]}.

{deps_dir, "deps"}.
{lib_dirs, ["deps", "apps"]}.
{eunit_opts, [verbose]}.
{recursive_cmds, [eunit, xref, clean]}.


{minimum_otp_vsn, "17.0"}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        no_superspecs,
        unmatched_returns
        ]}
    ]}.

{relx, [
    {release, {mzbench, "0.6.0"},
        [mzbench, dummy_worker, mz_histogram, mz_counter, mz_prometheus_metric_receiver,
        crypto, public_key, asn1, ssl, inets ]},
    {vm_args, "rel/files/vm.args"},
    {sys_config, "rel/files/sys.config"},
    {include_erts, true},
    % {include_erts, false}, %% let's use OS erlang installation
    {generate_start_script, false},
    {overlay, [
            {copy, "rel/files/mzbench", "bin/mzbench"},
            {copy, "rel/files/mzbench.cmd", "bin/mzbench.cmd"},
            {copy, "rel/files/erl", "bin/erl"},
            {copy, "rel/files/install_upgrade.escript", "bin/install_upgrade.escript"},
            {copy, "rel/files/nodetool", "bin/nodetool"},
            {copy, "rel/files/mzbench.boot", "releases/0.6.0/mzbench.boot"},
            {copy, "scripts/wait_cluster_start.escript", "bin/wait_cluster_start.escript"},
            {copy, "scripts/run_local.escript", "bin/run_local.escript"}
        ]}
    ]}.
